[submodule "salalib"]
	path = salalib
	url = git@github.com:spatialnous/salalib.git
[submodule "depthmapX/dxinterface"]
	path = depthmapX/dxinterface
	url = git@github.com:spatialnous/dxinterface.git
